# be sure to update the constraints file to match
# see https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html#constraints-files
apache-airflow[gcp]==2.6.3
google-cloud-storage==2.10.0
azure-storage-blob==12.16.0
cryptography==40.0.2
pyspark==3.4.1
pandas==2.2.1
pandas-gbq==0.21.0
